html, body {
  height: 100%;
}  
body {
  display: flex;
  flex-direction: row;
}


/* sidebar styles */
#nfdash-sidebar {
  width: 250px;
  background: #222;
  padding: 1em;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-weight: 200;
  
  display: flex;
  flex-direction: column;
}
#nfdash-sidebar header {
  padding: 1em;
  
  text-transform: uppercase;
  text-align: center;
  color: #ccc;

  font-size: 18pt;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}
#nfdash-sidebar .picturebox {
  padding-bottom: 2em;
  border-bottom: 1px dotted #ccc;
}
#nfdash-sidebar .picturebox img {
  width: 50%;
}
#nfdash-sidebar #links {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 1em;
}
#nfdash-sidebar #links a {
  color: #ccc;
  text-align: left;
  line-height: 2em;

  display: block;
  padding: 1em;

  font-size: 14pt;
}
#nfdash-sidebar #links a i {
  font-size: 2em;
  margin-right: 1em;
  vertical-align: bottom;
}


/* main content styles */
#nfdash-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#nfdash-content h1 {
  font-size: 2em;
}


/* general styles */
.picturebox img {
  display: block;
  margin: 0 auto;
}
